<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to the International Niemann-Pick Disease Registry</h1>
<p>
  You have successfully signed up to the INPDR, your username is: <%= @email %>
</p>

<p>Please now confirm your account email by clicking on the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thank you for joining!</p>
</body>
</html>
