Welcome to INPDR

You have successfully signed up to INPDR,
your username is: <%= @user.email %>
your password is: <%= @temp_password %>


To login to the site, just follow this link: <%= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @user.confirmation_token) %>.

Thanks for joining and have a great day!