Welcome to INPDR

You have successfully signed up to INPDR,
your username is: <%= @user.email %>

To login to the site, just follow this link: <%= link_to 'INPDR', new_user_session_url %>.

Thanks for joining and have a great day!