<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to INPDR</h1>
<p>
  You have successfully signed up to INPDR,
  your username is: <%= @user.email %><br>
  your password is: <%= @temp_password %><br>
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'INPDR', new_user_session_url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>