<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= t 'mailer.registration_mailer.subject' %>
<p>
  <%= t 'mailer.registration_mailer.content' %>
</p>

<%= t 'mailer.registration_mailer.footer' %>
</body>
</html>