<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= t('mailer.verify_email.subject').html_safe %>
<p>
  <%= t('mailer.verify_email.content', id: @participant.unique_id, login_page: new_user_session_url).html_safe %>
</p>

<p>
  To log in, follow this link: <%= link_to 'INPDR', new_user_session_url %>.
</p>

<%= t('mailer.verify_email.footer').html_safe %>
</body>
</html>