<div class='panel panel-default'>
  <div class='panel-heading'>
    Address
  </div>

  <div class='panel-body'>
    <%= f.input :line_1, label: t('users.labels.line_1'), :required => locals[:need_validate] %>
    <%= f.input :line_2, label: t('users.labels.line_2'), :required => false %>
    <%= f.input :town, label: t('users.labels.town'), :required => false %>
    <%= f.input :county, label: t('users.labels.county'), :required => locals[:need_validate] %>
    <%= f.input :post_code, label: t('users.labels.post_code'), :required => locals[:need_validate] %>
    <%= f.input :country, label: t('users.labels.country'), :required => locals[:need_validate] %>
  </div>
</div>