<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Consent</h3>
  </div>
  <div class="panel-body">
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t "#{participant.class.name.underscore.to_sym}s.labels.consent_name" %>
      </div>
      <div class="form-applicant_show-content">
        <%= participant.consent_name %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t "#{participant.class.name.underscore.to_sym}s.labels.consent" %>
      </div>
      <div class="form-applicant_show-content">
        <%= t participant.consent.class %>
      </div>
    </div>
  </div>
</div>