<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Verification Warning!!</h4>
      </div>
      <div class="modal-body">
        <p>
        Print off the record before continuing the verification process
        </p>
        <P>
          You <strong>cannot</strong> retrieve personal information once verified!
        </P>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="printPage()">Print</button>
        <%= link_to 'Verify', [:verify, @patient], :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>