<h1><strong>Consent Form</strong></h1>

<h2><strong>Details of your involvement in the registry</strong></h2>

<h3><strong>Project:</strong> International Niemann Pick Disease Registry – Patient Reported Data</h3>


<p>
  <strong>Before you agree to register in the INPDR, it is important that you understand what is involved and what will
    be done
    with the information that you provide. This form contains the answers to the questions that you might have. At the
    end
    of the form there is a checkbox for you to click on to confirm that you agree to participate. If you have any
    questions after reading this form, please contact us before continuing.</strong>
</p>

<p>
  Should you have questions relating to the registry, you can contact the registry principal investigator Dr Tarekegn
  Hiwot (you can find his contact information below), the INPDR study team at
  <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a> or the International
  Niemann Pick Disease Alliance at <a href="mailto:info@inpda.org" target="_top">info@inpda.org</a>..

</p>

<h3>What is a patient registry and why do we want to create one?</h3>

<p>
  Niemann Pick Diseases (NPD) are rare, progressive conditions with many unanswered questions. More information is
  needed to better understand how they affect people and progress over time. The International Niemann Pick Disease
  Registry (INPDR) – a joint initiative between patient organisations and clinicians involved in the care of people with
  NPD – was established to better understand NPD to help guide researchers so that potential treatments can be
  developed. The registry will also help answer questions such as how NPD is distributed internationally, and will
  support other activities to improve patient care and establish a good standard of care worldwide.
</p>

<p>
  There are two components to the INPDR, together collecting clinical, genetic, diagnostic and outcome data: patient
  reported data (PRD), completed by the patient or their carer if appropriate; and clinician reported data (CRD),
  completed by healthcare professionals caring for NPD patients.
</p>

<h3>Whose data are we collecting in this registry?</h3>

<p>
  The INPDR Patient Reported Data registry is for all patients diagnosed with any type of NPD worldwide. Patients can
  participate in the registry regardless of whether or not they are involved in other clinical studies and trials.
</p>

<h3>Where will the data be stored?</h3>

<p>
  All electronic data generated from the PRD will be held at the University of Melbourne, Australia under the direct
  responsibility of the Director of eResearch, Professor Richard Sinnott. Your data will be stored securely and no
  unauthorized users will be able to gain access to any information about you. Patient Identifiable Information that is
  required for enrolment will be kept in the Registry Master File which is securely held at the Queen Elizabeth Hospital
  Birmingham, UK, under the responsibility of Dr Tarekegn Hiwot. Patient Identifiable Information will not be held on
  the PRD itself.
</p>

<h3>Who will have access to the data?</h3>

<p>
  The INPDR study team will have access to your data. They may be required to obtain access to your genetic diagnosis
  report from your medical records in order to find information necessary for your involvement in the Registry. Access
  to your medical records will be on your behalf, and will only occur if you have given approval for PRD staff to do
  so.
</p>

<h3>How often do I need to complete the questionnaires?</h3>

<p>
  To ensure that a complete picture of NPD is being captured, it is recommended that you complete the follow up
  questionnaires every 6 months. An email will be sent to the email address you have provided to remind you that a new
  questionnaire is ready to be completed.
</p>

<h3>How can I update the data if something has changed?</h3>

<p>
  Once a questionnaire has been completed, you are able to make changes to the questionnaire if you realise that
  something it needs to be corrected. We also ask that you inform us if there are any major changes in your details
  (e.g. change of email address) that might occur in the period between updates.
</p>

<h3>How will I be identified in the registry?</h3>

<p>
  Your patient identifiable information will be securely held in the Registry Master File so that PRD staff members can
  contact you if it is necessary to inform you about your participation in the PRD. No personal identifiable information
  will be held on the electronic registry.
</p>

<P>
  This information will be stored in a secure manner and your records will be assigned a unique ID. This unique ID will
  be used to identify your records. Authorised staff using registry will not be able to identify you personally from the
  information. Only the individual in charge of the Registry (Dr Tarekegn Hiwot) and persons explicitly appointed to the
  PRD team by Dr Hiwot will be able to link your unique ID to your personal information.
</P>

<h3>Will my data be kept confidential?</h3>

<p>
  All electronic data (except for personal identifiable information) generated from the PRD will be held at the
  University of Melbourne, Australia under the direct responsibility of the Director of eResearch, Professor Richard
  Sinnott. Personal identifiable information will be stored in the Register Master File which is securely held at the
  Queen Elizabeth Hospital Birmingham, UK, under the responsibility of Dr Tarekegn Hiwot.
</p>

<P>
  The Registry team have direct experience in working to UK and international standards (including ISO 17799, and US 21
  CFR part 11), and have extensive experience of using healthcare data in the context of privacy and data protection
  legislature (including the Data Protection Act 1998 and EU Data Protection Directive 95/46/EC).
</P>

<p>
  In order for third parties (such as researchers, clinical research companies, pharmaceutical companies etc.) to access
  data held in the registry, they must meet the strict requirements laid out by the Registry Management Committee,
  including having ethics committee approval. Approved third parties will only have access to anonymous information and
  will not be able to link any personal identifiable information to the data held in the registry. Your data will not be
  made available to employers, government organisations, insurance companies, educational institutions or to other
  members of your family.
</p>

<h3>How will I benefit from registering?</h3>

<p>
  The registry is intended as a public service for the benefit of patients living with NPD. You will not receive any
  payment or any other financial benefit as a result of submitting data to the registry. Nevertheless, there are other
  benefits from participating, such as finding potential candidates for clinical trials, so helping speed up drug
  development. The data collected might also provide benefits for other patients with the disorder, for example by
  revealing statistics on how many people worldwide have the condition, or providing information for researchers
  interested in the best standards of care.
</p>

<h3>Do I have to participate in this registry and can I withdraw from it if I change my mind?</h3>

<p>
  Your participation in this project is completely voluntary and you are not obliged to participate in the Registry.
  Additionally you are free to withdraw from the registry at any time. Should you wish to withdraw from the registry,
  you are not required to offer a reason why. All data generated will be securely destroyed and you will not be
  contacted in regards to the registry. If you wish to withdraw, you should contact
  <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a>.
</p>

<h3>Who should I contact if I have any other questions?</h3>

<p>
  If you would like any additional information about the registry, if you need to tell us about any changes in your
  data, or if you wish to withdraw your data from the registry, please contact the INPDR Study team at
  <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a>
  or contact the registry co-ordinator:

<address>
  Dr Tarekegn Hiwot<br>
  Address: Inherited Metabolic Disorders,<br>
  Department of Endocrinology<br>
  Queen Elizabeth Hospital<br>
  Queen Elizabeth Medical Centre<br>
  Birmingham<br>
  B15 2TH<br>
  Telephone: 0121-371-6982<br>
  Email: <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a><br>
</address>
</p>

<div class='panel panel-danger'>
  <div class='panel-heading'>
    Consent
  </div>
  <div class='panel-body'>
    <p>
      Name of Patient (if self-registering) or Parent/Guardian (if registering on behalf of a person diagnosed with
      NPD):
      <%= f.input :consent_name, label: false %>
    </p>

    <div class='row'>
      <div class='col-md-10'>
        <p>
          I have read and understood the patient information and informed consent document. The nature of the registry
          has
          been fully explained to me and where appropriate and possible I have discussed it with the patient whose
          parent
          or
          guardian I am. I have had the opportunity to ask questions, and all my questions have been answered to my
          satisfaction. I hereby give my consent and agree to participate in the Patient Reported Data section of the
          International Niemann Pick Disease Registry.
        </p>
      </div>

      <div class='col-md-2'>
        <label>Agree</label><br>
        <input type="checkbox" id="consent" class="required regular-checkbox big-checkbox" name="<%= "#{controller_name.singularize}[consent]" %>"/>
        <label for="consent"></label>
        <%= f.input :consent, label: false, :wrapper => :consent_checkbox_error %>
      </div>


    </div>
  </div>
</div>

<div class="form-actions pull-right">
  <%= f.button :submit, 'Submit', class: 'btn btn-success' %>
</div>
