<div class="container">
  <footer>
    <div class="col-xs-10">
      <p class="text-center"><%= t('footer.main') %>
        <br>
        <%= link_to t('footer.terms_and_condition'), pages_terms_and_conditions_path %>
        <br>
        <%= link_to t('footer.privacy_statement'), pages_privacy_statement_path %>
      </p>
    </div>


    <%= image_tag("logos/INPDA-Logo.jpg", :alt => "rss feed", :style => 'height: 100px;', :class => 'pull-right') %>


  </footer>
</div>