<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t("#{participant.class.name.underscore.to_sym}s.labels.gene_diagnosis_title") %></h3>
  </div>
  <div class='panel-body'>
    <p>
      <%= t("#{participant.class.name.underscore.to_sym}s.labels.gene_report_explanation_html") %>
    </p>

    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{participant.class.name.underscore.to_sym}s.labels.gene_diagnosis") %></h3>
      </div>
      <div class='panel-body'>
        <% if participant.gene_diagnosis? %>
            <%= link_to 'download', root_url+participant.gene_diagnosis.url, :class => 'btn btn-primary btn-xs', :target => '_blank' %>
        <% end %>
      </div>
    </div>

    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{participant.class.name.underscore.to_sym}s.labels.dont_have_gene_report") %></h3>
      </div>
      <div class='panel-body'>

        <div class="participant-show-form-group">
          <div class="form-applicant_show-label">
            <%= t("#{participant.class.name.underscore.to_sym}s.labels.unable_to_contact_specialist") %>
          </div>
          <div class="form-applicant_show-content">
            <%= t participant.unable_to_contact_specialist? ? t('selected') : t('unselected') %>
          </div>
        </div>

        <div class="participant-show-form-group">
          <div class="form-applicant_show-label">
            <%= t("#{participant.class.name.underscore.to_sym}s.labels.gene_test_performed") %>
          </div>
          <div class="form-applicant_show-content">
            <%= t participant.gene_test_performed? ? t('selected') : t('unselected') %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




