<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t("#{controller_name}.labels.gene_diagnosis_title") %></h3>
  </div>
  <div class='panel-body'>
    <p>
      <%= t("#{controller_name}.labels.gene_report_explanation_html") %>
    </p>

    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{controller_name}.labels.gene_diagnosis") %></h3>
      </div>
      <div class='panel-body'>
        <%= File.basename(participant.gene_diagnosis_url) if participant.gene_diagnosis? %>
        <%= f.input :gene_diagnosis, :label => false, :as => :file %>
        <%= f.hidden_field :gene_diagnosis_cache %>
        <small>To remove selected file, Click Choose File then cancel</small>
      </div>
    </div>


    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{controller_name}.labels.dont_have_gene_report") %></h3>
      </div>
      <div class='panel-body'>
        or
        <%= f.input :unable_to_contact_specialist, :label => t("#{controller_name}.labels.unable_to_contact_specialist"), :wrapper => :inline_checkbox %>

        <%= f.input :gene_test_performed, :label => t("#{controller_name}.labels.gene_test_performed"), :wrapper => :inline_checkbox %>
      </div>
    </div>
  </div>
</div>