
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t('main_header.project_name'), root_path, :class => 'navbar-brand' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
          <li><%= link_to t('main_header.home'),   patients_path %></li>
          <li><%= link_to t('main_header.enrolment'), new_patient_path %></li>
          <li><%= link_to t('main_header.followups'), pages_followups_path %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t('main_header.contact'), new_contact_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to "Welcome #{current_user.email}", edit_user_registration_path %></li>
          <li><%= link_to t('main_header.logout'), destroy_user_session_path, :method => :delete %></li>
      <% else %>
          <li><%= link_to t('main_header.login'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
