<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'>ENROLMENT INFORMATION</h3>
  </div>
  <div class='panel-body'>
    <p><%= t "#{controller_name}.#{action_name}.explanation" %></p>
    <% if f.object.is_a? ParticipantWithApplicant %>
        <%= f.input :applicant_relation, collection: ParticipantWithApplicant.applicant_relation_collection, label: t("#{controller_name}.labels.applicant_relation") %>
        <%= f.input :applicant_relation_specify, label: t("#{controller_name}.labels.applicant_relation_specify") %>
    <% end %>

    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{controller_name}.labels.symptom_age_known") %></h3>
      </div>
      <div class='panel-body'>
        <%= f.input :symptom_age_year, collection: 0..99, label: t("#{controller_name}.labels.age_diagnosed_year") %>
        <%= f.input :symptom_age_month, collection: 0..11, label: t("#{controller_name}.labels.age_diagnosed_month") %>
        <%= f.input :symptom_age_na, label: t("#{controller_name}.labels.symptom_age_na"), :wrapper => :inline_checkbox %>
        <%= f.input :symptom_age_unknown, label: t("#{controller_name}.labels.symptom_age_unknown"), :wrapper => :inline_checkbox %>
      </div>
    </div>

    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{controller_name}.labels.age_diagnosed_known") %></h3>
      </div>
      <div class='panel-body'>
        <%= f.input :age_diagnosed_year, collection: 0..99, label: t("#{controller_name}.labels.age_diagnosed_year") %>
        <%= f.input :age_diagnosed_month, collection: 0..11, label: t("#{controller_name}.labels.age_diagnosed_month") %>
        <%= f.input :age_diagnosed_known, label: t("#{controller_name}.labels.age_diagnosed_unknown"), :wrapper => :inline_checkbox %>
      </div>
    </div>

    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= t("#{controller_name}.labels.other_family_diagnosed") %></h3>
      </div>
      <div class='panel-body'>
        <%= f.input :family_diagnosed, collection: Participant.family_diagnosed_collection, label: t("#{controller_name}.labels.family_diagnosed") %>
        <%= f.input :family_diagnosed_relation, label: t("#{controller_name}.labels.family_diagnosed_relation") %>
      </div>
    </div>
  </div>
</div>