<div class='panel panel-primary'>
<div class='panel-heading'>
  <h3 class='panel-title'>ENROLMENT INFORMATION</h3>
</div>
<div class='panel-body'>


<% if participant.is_a? ParticipantWithApplicant %>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t "#{participant.class.name.underscore.to_sym}s.labels.applicant_relation" %>
      </div>
      <div class="form-applicant_show-content">
        <% if participant.applicant_relation %>
            <%= ParticipantWithApplicant.applicant_relation_collection[participant.applicant_relation][0] %>
        <% end %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t "#{participant.class.name.underscore.to_sym}s.labels.applicant_relation_specify" %>
      </div>
      <div class="form-applicant_show-content">
        <%= participant.applicant_relation_specify %>
      </div>
    </div>
<% end %>




<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t "#{participant.class.name.underscore.to_sym}s.labels.baby_symptoms" %>
  </div>
  <div class="form-applicant_show-content">
    <% if participant.baby_symptoms %>
        <%= Participant.baby_symptoms_collection[participant.baby_symptoms][0] %>
    <% end %>
  </div>
</div>

<div class="participant-show-form-group">
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h3 class='panel-title'><%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_age_known" %></h3>
    </div>
    <div class='panel-body'>
      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_age_year" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.symptom_age_year %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_age_month" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.symptom_age_month %>
        </div>
      </div>
      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_age_unknown" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.symptom_age_unknown? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_age_na" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.symptom_age_na? ? t('selected') : t('unselected') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="participant-show-form-group">
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h3 class='panel-title'><%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_title" %></h3>
    </div>
    <div class='panel-body'>
      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_delayed_milestone" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_delayed_milestone? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_ppers" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_ppers? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_coordication" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_coordication? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_eye" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_eye? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_behavioural" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_behavioural? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_seizure" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_seizure? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_psychiatric" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_psychiatric? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_other" %>
        </div>
        <div class="form-applicant_show-content">
          <%= t participant.symptom_other? ? t('selected') : t('unselected') %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.symptom_other_specify" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.symptom_other_specify %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="participant-show-form-group">
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h3 class='panel-title'><%= t "#{participant.class.name.underscore.to_sym}s.labels.age_diagnosed_known" %></h3>
    </div>
    <div class='panel-body'>
      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.age_diagnosed_year" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.age_diagnosed_year %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.age_diagnosed_month" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.age_diagnosed_month %>
        </div>
      </div>
      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.age_diagnosed_unknown" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.age_diagnosed_known? ? t('selected') : t('unselected') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="participant-show-form-group">
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h3 class='panel-title'><%= t "#{participant.class.name.underscore.to_sym}s.labels.other_family_diagnosed" %></h3>
    </div>
    <div class='panel-body'>
      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.family_diagnosed" %>
        </div>
        <div class="form-applicant_show-content">
          <% if participant.family_diagnosed %>
              <%= Participant.family_diagnosed_collection[participant.family_diagnosed][0] %>
          <% end %>
        </div>
      </div>

      <div class="participant-show-form-group">
        <div class="form-applicant_show-label">
          <%= t "#{participant.class.name.underscore.to_sym}s.labels.family_diagnosed_relation" %>
        </div>
        <div class="form-applicant_show-content">
          <%= participant.family_diagnosed_relation %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
