<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t('users.labels.line_1') %>
  </div>
  <div class="form-applicant_show-content">
    <%= address.line_1 if address %>
  </div>
</div>

<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t('users.labels.line_2') %>
  </div>
  <div class="form-applicant_show-content">
    <%= address.line_2 if address %>
  </div>
</div>

<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t('users.labels.town') %>
  </div>
  <div class="form-applicant_show-content">
    <%= address.town if address %>
  </div>
</div>

<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t('users.labels.county') %>
  </div>
  <div class="form-applicant_show-content">
    <%= address.county if address %>
  </div>
</div>

<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t('users.labels.post_code') %>
  </div>
  <div class="form-applicant_show-content">
    <%= address.post_code if address %>
  </div>
</div>

<div class="participant-show-form-group">
  <div class="form-applicant_show-label">
    <%= t('users.labels.country') %>
  </div>
  <div class="form-applicant_show-content">
    <%= address.country if address %>
  </div>
</div>
