<div class="nested-fields panel panel-success">
  <div class='panel-heading'>
    <h3 class='panel-title'>Specialist</h3>
  </div>

  <div class='panel-body'>
    <%= f.input :name, :label => t("#{controller_name}.labels.specialist.name") %>
    <%= f.input :hospital_name, :label => t("#{controller_name}.labels.specialist.hospital_name") %>
    <%= f.input :email, :label => t("#{controller_name}.labels.specialist.email") %>
    <%= f.input :number, :label => t("#{controller_name}.labels.specialist.number") %>
    <%= f.fields_for :address, :html => {:class => 'form-horizontal'},
                     :wrapper => :horizontal_input_group,
                     :wrapper_mappings => {
                             :check_boxes => :horizontal_radio_and_checkboxes,
                             :radio_buttons => :horizontal_radio_and_checkboxes,
                             :file => :horizontal_file_input,
                             :boolean => :horizontal_boolean
                     } do |address_form| %>
        <%= render 'layouts/address_fields', :f => address_form, :locals => {:need_validate => false} %>
    <% end %>

    <% if locals[:deletable] %>
        <%= link_to_remove_association "Remove", f, :class => 'btn btn-danger btn-mini pull-right' %>
    <% end %>
  </div>
</div>