<div class="nested-fields panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Specialist</h3>
  </div>
  <div class="panel-body">
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("#{controller_name}.labels.specialist.name") %>
      </div>
      <div class="form-applicant_show-content">
        <%= specialist.name %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("#{controller_name}.labels.specialist.hospital_name") %>
      </div>
      <div class="form-applicant_show-content">
        <%= specialist.hospital_name %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("#{controller_name}.labels.specialist.email") %>
      </div>
      <div class="form-applicant_show-content">
        <%= specialist.email %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("#{controller_name}.labels.specialist.number") %>
      </div>
      <div class="form-applicant_show-content">
        <%= specialist.number  %>
      </div>
    </div>
    <%= render partial: "layouts/show_address_fields", object: specialist.address, as: :address %>
  </div>
</div>