<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The International Niemann-Pick rare disease registry (INPDR) is a desperately needed collaboration between clinicians, scientists, researchers and patient associations to collect clinical, genetic, diagnostic and outcome data on patients with NPD type A, B and C across Europe.">
  <meta name="author" content="Melbourne eResearch Group">
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= render 'layouts/mainNavbar' %>
  </div>
</header>

<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>