<%= simple_form_for([@followable.patient, @followable, @npc_followup], html: {class: 'form-horizontal'},
                    wrapper: :horizontal_input_group,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    }) do |f| %>
    <%= f.error_notification %>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class="panel-title"><%= t('npc_followups.defaults.titles.impact') %></h3>
      </div>
      <div class='panel-body'>
        <p>
          <small><%= t('npc_followups.defaults.explainations.impact_html') %></small>
        </p>
        <%= f.input :impact_ambulation, label: t("npc_followups.#{params[:followable]}.labels.impact_ambulation"), collection: @npc_followup.impact_ambulation_collection %>
        <%= f.input :impact_manipulation, label: t("npc_followups.#{params[:followable]}.labels.impact_manipulation"), collection: @npc_followup.impact_manipulation_collection %>
        <%= f.input :impact_speech, label: t("npc_followups.#{params[:followable]}.labels.impact_speech"), collection: @npc_followup.impact_speech_collection %>
        <%= f.input :impact_swallowing, label: t("npc_followups.#{params[:followable]}.labels.impact_swallowing"), collection: @npc_followup.impact_swallowing_collection %>
        <%= f.input :impact_eye_movement, label: t("npc_followups.#{params[:followable]}.labels.impact_eye_movement"), collection: @npc_followup.impact_eye_movement_collection %>
        <%= f.input :impact_seizure, label: t("npc_followups.#{params[:followable]}.labels.impact_seizure"), collection: @npc_followup.impact_seizure_collection %>
        <%= f.input :impact_cognitive_impaired, label: t("npc_followups.#{params[:followable]}.labels.impact_cognitive_impaired"), collection: @npc_followup.impact_cognitive_impaired_collection %>
      </div>
    </div>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class="panel-title"><%= t('npc_followups.defaults.titles.family_impact') %></h3>
      </div>
      <div class='panel-body'>
        <p>
          <small><%= t('npc_followups.defaults.explainations.family_impact_html') %></small>
        </p>
        <%= f.input :impact_family_disappointed, label: t("npc_followups.#{params[:followable]}.labels.impact_family_disappointed"), collection: NpcFollowup.impact_family_collection %>
        <%= f.input :impact_family_give_up, label: t("npc_followups.#{params[:followable]}.labels.impact_family_give_up"), collection: NpcFollowup.impact_family_collection %>
        <%= f.input :impact_family_worry_future, label: t("npc_followups.#{params[:followable]}.labels.impact_family_worry_future"), collection: NpcFollowup.impact_family_collection %>
        <%= f.input :impact_family_closer_family, label: t("npc_followups.#{params[:followable]}.labels.impact_family_closer_family"), collection: NpcFollowup.impact_family_collection %>
      </div>
    </div>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class="panel-title"><%= t('npc_followups.defaults.titles.wider_impact') %></h3>
      </div>
      <div class='panel-body'>
        <p>
          <small><%= t('npc_followups.defaults.explainations.wider_impact_html') %></small>
        </p>
        <%= f.input :impact_wider_self_miss_career, label: t("npc_followups.#{params[:followable]}.labels.impact_wider_self_miss_career"), collection: @npc_followup.impact_wider_self_miss_career_collection %>
        <%= f.input :impact_wider_family_miss_career, label: t("npc_followups.#{params[:followable]}.labels.impact_wider_family_miss_career"), collection: @npc_followup.impact_wider_family_miss_career_collection %>
        <%= f.input :impact_wider_emergency, label: t("npc_followups.#{params[:followable]}.labels.impact_wider_emergency"), collection: @npc_followup.impact_wider_emergency_collection %>
        <%= f.input :impact_wider_appointment, label: t("npc_followups.#{params[:followable]}.labels.impact_wider_appointment"), collection: @npc_followup.impact_wider_appointment_collection %>

      </div>
    </div>
    <div class="form-actions pull-right">
      <%= f.button :submit, 'Submit', class: 'btn btn-success' %>
    </div>
<% end %>
