<h1><%= t 'npc_followups.edit.title' %></h1>

<%= render 'form' %>

<div class="form-actions pull-right">
  <%= link_to 'Back', polymorphic_url([@npc_followup.followable.patient, @npc_followup.followable, @npc_followup]), class: 'btn btn-danger' %>
</div>