<h1><%= t('npc_followups.index.title', :user => @followable.patient.get_unique_id) %></h1>

<table class='table table-condensed table-bordered table-striped'>
  <thead>
  <tr>
    <th>Created date</th>
    <th></th>
    <% if current_user.study_team %>
        <th></th>
        <th></th>
    <% end %>

  </tr>
  </thead>
  <tbody>
  <% @npc_followups.each do |npc_followup| %>
      <tr>
        <td><%= l npc_followup.created_at, :format => t(:default, :scope => [:date, :formats]) %></td>
        <td><%= link_to 'Show', polymorphic_url([@followable.patient, @followable, npc_followup]), :class => 'btn btn-primary btn-xs' %></td>
        <% if current_user.study_team %>
            <td><%= link_to 'Edit', edit_polymorphic_url([@followable.patient, @followable, npc_followup]), :class => 'btn btn-primary btn-xs' %></td>
            <td><%= link_to 'Delete', polymorphic_url([@followable.patient, @followable, npc_followup]), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-xs btn-danger' %></td>
        <% end %>

      </tr>
  <% end %>
  <tbody>

  </table>
<% if current_user.has_patient(@followable.patient) %>
    <%= link_to 'New Followup Questionnaire', new_polymorphic_url([@followable.patient, @followable, :npc_followup]), :class => "btn btn-primary #{@followable.lock_new_questionnaire ? 'disabled' : ''}" %>
<% end %>