<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class="panel-title"><%= t('npc_followups.defaults.titles.impact') %></h3>
  </div>
  <div class='panel-body'>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_ambulation") %>
      </div>

      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_ambulation_collection[@npc_followup.impact_ambulation][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_manipulation") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_manipulation_collection[@npc_followup.impact_manipulation][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_speech") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_speech_collection[@npc_followup.impact_speech][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_swallowing") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_swallowing_collection[@npc_followup.impact_swallowing][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_eye_movement") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_eye_movement_collection[@npc_followup.impact_eye_movement][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_seizure") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_seizure_collection[@npc_followup.impact_seizure][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_cognitive_impaired") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_cognitive_impaired_collection[@npc_followup.impact_cognitive_impaired][0] %>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class="panel-title"><%= t('npc_followups.defaults.titles.family_impact') %></h3>
  </div>
  <div class='panel-body'>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_family_disappointed") %>
      </div>
      <div class="form-applicant_show-content">
        <%= NpcFollowup.impact_family_collection[@npc_followup.impact_family_disappointed][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_family_give_up") %>
      </div>
      <div class="form-applicant_show-content">
        <%= NpcFollowup.impact_family_collection[@npc_followup.impact_family_give_up][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_family_worry_future") %>
      </div>
      <div class="form-applicant_show-content">
        <%= NpcFollowup.impact_family_collection[@npc_followup.impact_family_worry_future][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_family_closer_family") %>
      </div>
      <div class="form-applicant_show-content">
        <%= NpcFollowup.impact_family_collection[@npc_followup.impact_family_closer_family][0] %>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class="panel-title"><%= t('npc_followups.defaults.titles.wider_impact') %></h3>
  </div>
  <div class='panel-body'>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_wider_self_miss_career") %>
      </div>

      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_wider_self_miss_career_collection[@npc_followup.impact_wider_self_miss_career][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_wider_family_miss_career") %>
      </div>

      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_wider_family_miss_career_collection[@npc_followup.impact_wider_family_miss_career][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_wider_emergency") %>
      </div>

      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_wider_emergency_collection[@npc_followup.impact_wider_emergency][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npc_followups.#{params[:followable]}.labels.impact_wider_appointment") %>
      </div>

      <div class="form-applicant_show-content">
        <%= @npc_followup.impact_wider_appointment_collection[@npc_followup.impact_wider_appointment][0] %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Done', polymorphic_url([@npc_followup.followable.patient, @npc_followup.followable, NpcFollowup]), :class => 'btn btn-primary' %>
<% if current_user.study_team? %>
    <%= link_to 'Edit', edit_polymorphic_url([@npc_followup.followable.patient, @npc_followup.followable, @npc_followup]), :class => 'btn btn-primary' %>
<% end %>





