<%= simple_form_for(@patient, :html => { :class => 'form-horizontal' },
                    :wrapper => :horizontal_input_group,
                    :wrapper_mappings => {
                        :check_boxes => :horizontal_radio_and_checkboxes,
                        :radio_buttons => :horizontal_radio_and_checkboxes,
                        :file => :horizontal_file_input,
                        :boolean => :horizontal_boolean
                    }) do |f| %>
    <%= f.error_notification %>

    <h1>Welcome to the International Niemann-Pick Disease Registry Project – Patient Reported Data Registry!</h1>

    <p>
      Niemann Pick Diseases (NPD) are rare, progressive conditions with many unanswered questions. More
      information is needed to better understand how they affect people and progress over time. The International
      Niemann Pick Disease Registry (INPDR) – a joint initiative between patient organisations and clinicians involved
      in the care of people with NPD – has been established to better understand NPD so that potential treatments
      can be developed as quickly as possible.
    </p>

    <p>
      There are two components to the INPDR, together collecting clinical, genetic, diagnostic and outcome data:
      patient reported data (PRD), completed by the patient or their carer if appropriate; and clinician reported data
      (CRD), completed by healthcare professionals caring for NPD patients.
    </p>

    <p>
      You can confidentially add health information in the patient-reported section of the INPDR. Only anonymous
      health information will be made accessible to qualified researchers who are granted permission by the
      steering committee. Personal health information will not be made available to employers, government
      organisations, insurance companies, or educational institutions. Please refer to the Privacy Policy for more
      information.
    </p>

    <p>
      We welcome all patients diagnosed with any type of NPD worldwide. Patients can participate in the registry
      regardless of whether or not they are involved in other clinical studies and trials.
    </p>

    <p>
      <strong>If you are registering more than one person</strong>, you may use the same login and password to enter
      multiple patients. However, a separate survey must be completed for each person. This can be done after
      registering by clicking "Add a new patient" from your log in page.
    </p>

    <p>
      Please feel free to share any questions or concerns with us! You can contact the INPDR team at
      <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a>
    </p>

    <h2></h2>



    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Registration</h3>
      </div>
      <div class='panel-body'>

        Thank you for taking the time to complete this information and assist in our efforts to improve the lives of
        those living with Niemann-Pick Diseases.

        <%= f.input :registrant_first_name, label: t("#{controller_name}.labels.registrant_first_name") %>
        <%= f.input :registrant_last_name, label: t("#{controller_name}.labels.registrant_last_name") %>
        <%= f.simple_fields_for :address do |address_form| %>
            <%= render 'layouts/address_fields', :f => address_form, :locals => { :need_validate => true } %>
        <% end %>
        <%= f.input :relation_to_patient, :collection => Patient.applicant_relation_collection, label: t("#{controller_name}.labels.relation_to_patient") %>
        <%= f.input :patient_first_name, label: t("#{controller_name}.labels.patient_first_name") %>
        <%= f.input :patient_last_name, label: t("#{controller_name}.labels.patient_last_name") %>
        <%= f.input :gender, collection: Patient.gender_collection, label: t("#{controller_name}.labels.gender") %>
        <%= f.input :date_of_birth, :label => t("#{controller_name}.labels.date_of_birth"), :as => :date_picker %>

        <p>
          Please provide the names and contact details of the <i>current</i> main specialists for Niemann-Pick Disease
        </p>
        <%= f.simple_fields_for :specialist do |specialist_form| %>
            <%= render 'layouts/specialist_fields', :f => specialist_form, :locals => { :need_validate => true } %>
        <% end %>

      </div>
    </div>

    <%= f.input :not_finish, :as => 'hidden', :input_html => { :value => false } %>
    <div class="form-actions pull-right">
      <!---->
      <!--<%= f.button :submit, t('button.save_for_later'), :class => 'btn btn-warning js-only', onclick: 'setPatientNotFinish(true)' %>-->
      <!---->
      <%= f.button :submit, 'Submit', :class => 'btn btn-success', onclick: 'setPatientNotFinish(false)' %>
    </div>
<% end %>
