<div class="form_well">
  <%= simple_form_for(@patient,
                      :url => patients_consent_action_path,
                      :method => :post,
                      :html => {:class => 'form-horizontal'},
                      :wrapper => :horizontal_input_group,
                      :wrapper_mappings => {
                              :check_boxes => :horizontal_radio_and_checkboxes,
                              :radio_buttons => :horizontal_radio_and_checkboxes,
                              :file => :horizontal_file_input,
                              :boolean => :horizontal_boolean
                      }) do |f| %>
      <%= render 'layouts/consent_form', :f => f %>
      <div style='display:none;'>
        <%= render 'form', :f => f %>
      </div>

  <% end %>

  <div class="form-actions pull-right">
    <%= link_to 'Cancel', :back, :class => 'btn btn-danger' %>
  </div>
</div>