<div class="center jumbotron">
  <h1><%= t '.title' %></h1>

  <div class="list-group">
    <a href="<%=  new_patient_npc_participant_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npc_title') %></h4>
      <p class="list-group-item-text"><%= t('.npc_details') %></p>
    </a>
    <a href="<%=  new_patient_npc_applicant_participant_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npc_behalf_title') %></h4>
      <p class="list-group-item-text"><%= t('.npc_behalf_details') %></p>
    </a>
    <a href="<%=  new_patient_npb_participant_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npb_title') %></h4>
      <p class="list-group-item-text"><%= t('.npb_details') %></p>
    </a>
    <a href="<%=  new_patient_npb_applicant_participant_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npb_behalf_title') %></h4>
      <p class="list-group-item-text"><%= t('.npb_behalf_details') %></p>
    </a>
    <a href="<%=  new_patient_npa_applicant_participant_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npa_title') %></h4>
      <p class="list-group-item-text"><%= t('.npa_details') %></p>
    </a>
  </div>

</div>
