<h1><%= t 'pages.home.title', :email => @user.email %></h1>

<h2><%= t 'pages.home.table_title' %></h2>
<table class='table table-condensed table-bordered table-striped'>
  <thead>
  <tr>
    <th class="col-md-2"><%= t 'patients.labels.registrant_first_name' %></th>
    <th class="col-md-2"><%= t 'patients.labels.registrant_last_name' %></th>
    <th class="col-md-2"><%= t 'patients.labels.relation_to_patient' %></th>
    <th class="col-md-2"><%= t 'patients.labels.patient_first_name' %></th>
    <th class="col-md-2"><%= t 'patients.labels.patient_last_name' %></th>
    <th class="col-md-1"></th>
    <th class="col-md-1"></th>
  </tr>
  </thead>
  <tbody>
  <% @user.patients.each do |patient| %>
      <% if patient.enrollable %>
          <% next unless patient.enrollable.not_finish? %>
          <tr>
            <td><%= patient.registrant_first_name %></td>
            <td><%= patient.registrant_last_name %></td>
            <td>
              <% if patient.relation_to_patient %>
                  <%= Patient.applicant_relation_collection[patient.relation_to_patient][0] %>
              <% end %>
            </td>
            <td><%= patient.patient_first_name %></td>
            <td><%= patient.patient_last_name %></td>
            <!--<td><%= link_to t('button.continue'), patient_enrol_path(patient), :class => "btn btn-info btn-xs" %></td>-->
            <td><%= link_to t('button.continue'), edit_polymorphic_url([patient, patient.enrollable]), :class => "btn btn-info btn-xs" %></td>
            <td><%= link_to t('pages.home.view'), patient, :class => "btn btn-info btn-xs" %></td>
          </tr>
      <% else %>
          <tr>
            <td><%= patient.registrant_first_name %></td>
            <td><%= patient.registrant_last_name %></td>
            <td>
              <% if patient.relation_to_patient %>
                  <%= Patient.applicant_relation_collection[patient.relation_to_patient][0] %>
              <% end %>
            </td>
            <td><%= patient.patient_first_name %></td>
            <td><%= patient.patient_last_name %></td>
            <td><%= link_to t('pages.home.enrol'), patient_enrol_path(patient), :class => "btn btn-info btn-xs" %></td>
            <td><%= link_to t('pages.home.view'), patient, :class => "btn btn-info btn-xs" %></td>
          </tr>
      <% end %>
  <% end %>

  </tbody>

</table>

<h2><%= t 'pages.home.enrol_table_title' %></h2>
<table class='table table-condensed table-bordered table-striped'>
  <thead>
  <tr>
    <th class="col-md-1"><%= t 'pages.home.table_patient_id' %></th>
    <th class="col-md-1"><%= t 'pages.home.verified' %></th>
    <th class="col-md-1"><%= t 'patients.labels.enrolment_form' %></th>
    <th class="col-md-1"><%= t 'pages.home.complete_follow_up_num' %></th>
    <th class="col-md-1"></th>
    <th class="col-md-1"></th>
  </tr>
  </thead>
  <tbody>
  <% @user.patients.each do |patient| %>
      <% next unless (patient.enrollable && !patient.enrollable.not_finish?) %>
      <tr>
        <td><%= patient.get_unique_id %></td>
        <td><%= patient.verified ? "<span class='glyphicon glyphicon-ok verified'>".html_safe : "<span class='glyphicon glyphicon-remove unverified'>".html_safe %></td>
        <td><%= link_to t('pages.home.view'), patient, :class => "btn btn-info btn-xs" %></td>
        <td><%= patient.enrollable.followup_count %></td>
        <% if patient.enrollable.followup_class %>
            <td><%= link_to t('patients.buttons.questionnaires'), polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => "btn btn-info btn-xs #{patient.verified ? '' : 'disabled'}" %></td>
        <% else %>
            <td><%= link_to 'In development', polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => 'btn btn-danger btn-xs disabled' %></td>
        <% end %>
        <% if patient.enrollable.followup_class %>
            <td><%= link_to t('patients.buttons.new_questionnaires'), new_polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => "btn btn-info btn-xs #{patient.verified ? '' : 'disabled'} #{patient.enrollable.lock_new_questionnaire ? 'disabled' : ''}" %></td>
        <% else %>
            <td><%= link_to 'In development', new_polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => 'btn btn-danger btn-xs disabled' %></td>
        <% end %>

      </tr>

  <% end %>
  </tbody>

</table>


<div class="form-actions pull-left">
  <%= link_to t('pages.home.add_patient_button'), new_patient_path, :class => 'btn btn-primary' %>
</div>
<br>
<br>
<hr>
<% if @user.study_team %>
    <h2><%= t 'pages.home.unverified_table_title' %> <strong>(Admin)</strong></h2>
    <table class='table table-condensed table-bordered table-striped'>
      <thead>
      <tr>
        <th class="col-md-1"><%= t 'pages.home.table_patient_id' %></th>
        <th class="col-md-1"><%= t 'pages.home.complete' %></th>
        <th class="col-md-1"><%= t 'pages.home.verified' %></th>
        <th class="col-md-1"><%= t 'patients.labels.enrolment_form' %></th>
        <th class="col-md-1"><%= t 'pages.home.complete_follow_up_num' %></th>
        <th class="col-md-1"></th>
      </tr>
      </thead>
      <tbody>
      <% @all_patients.each do |patient| %>
          <% next unless patient.enrollable %>
          <tr>
            <td><%= patient.get_unique_id %></td>
            <td><%= patient.enrollable.not_finish? ? "<span class='glyphicon glyphicon-remove incompleted'>".html_safe : "<span class='glyphicon glyphicon-ok completed'>".html_safe %></td>
            <td><%= patient.verified ? "<span class='glyphicon glyphicon-ok verified'>".html_safe : "<span class='glyphicon glyphicon-remove unverified'>".html_safe %></td>
            <td><%= link_to t('pages.home.view'), patient, :class => "btn btn-info btn-xs" %></td>
            <td><%= patient.enrollable.followup_count %></td>
            <% if patient.enrollable.followup_class %>
                <td><%= link_to t('patients.buttons.questionnaires'), polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => "btn btn-info btn-xs #{patient.verified ? '' : 'disabled'}" %></td>
            <% else %>
                <td><%= link_to 'In development', polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => 'btn btn-danger btn-xs disabled' %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>

    </table>

<% end %>
