<div id='section-to-print'>
  <% unless @patient.verified? %>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t '.title' %></h3>
        </div>
        <div class="panel-body">

          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.registrant_first_name" %>
            </div>
            <div class="form-applicant_show-content">
              <%= @patient.registrant_first_name %>
            </div>
          </div>
          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.registrant_last_name" %>
            </div>
            <div class="form-applicant_show-content">
              <%= @patient.registrant_last_name %>
            </div>
          </div>

          <div class="participant-show-form-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= t 'patients.labels.address' %></h3>
              </div>
              <div class="panel-body">
                <%= render :partial => 'layouts/show_address_fields', :locals => {:address => @patient.address} %>
              </div>
            </div>
          </div>

          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.relation_to_patient" %>
            </div>
            <div class="form-applicant_show-content">
              <% if @patient.relation_to_patient %>
                  <%= Patient.applicant_relation_collection[@patient.relation_to_patient][0] %>
              <% end %>
            </div>
          </div>
          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.patient_first_name" %>
            </div>
            <div class="form-applicant_show-content">
              <%= @patient.patient_first_name %>
            </div>
          </div>
          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.patient_last_name" %>
            </div>
            <div class="form-applicant_show-content">
              <%= @patient.patient_last_name %>
            </div>
          </div>
          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.gender" %>
            </div>
            <div class="form-applicant_show-content">
              <% if @patient.gender %>
                  <%= Patient.gender_collection[@patient.gender][0] %>
              <% end %>
            </div>
          </div>
          <div class="participant-show-form-group">
            <div class="form-applicant_show-label">
              <%= t "#{controller_name}.labels.date_of_birth" %>
            </div>
            <div class="form-applicant_show-content">
              <%= @patient.date_of_birth %>
            </div>
          </div>

          <div class="participant-show-form-group">
            <%= render :partial => 'layouts/specialist_fields_show', :locals => {:specialist => @patient.specialist} %>
          </div>
        </div>
      </div>
  <% end %>

  <% if @patient.enrollable %>
  <% if ((@patient.enrollable.is_a? NpcApplicantParticipant) || (@patient.enrollable.is_a? NpcParticipant)) %>

      <%= render 'layouts/npc_enrol_info_show', :participant => @patient.enrollable %>
  <% end %>

  <% if ((@patient.enrollable.is_a? NpbApplicantParticipant) || (@patient.enrollable.is_a? NpbParticipant)) %>
      <%= render 'layouts/npb_enrol_info_show', :participant => @patient.enrollable %>
  <% end %>

  <% if (@patient.enrollable.is_a? NpaApplicantParticipant) %>
      <%= render 'layouts/npa_enrol_info_show', :participant => @patient.enrollable %>
  <% end %>



  <%= render 'layouts/gene_diagnosis_show', :participant => @patient.enrollable %>
  <% end %>
  <%= render 'layouts/consent_fields_show', :participant => @patient %>

</div>


<%= link_to 'Back', :back, :class => 'btn btn-default' %>

<% if current_user.study_team && @patient.enrollable && !@patient.enrollable.not_finish? %>
    <% if @patient.verified %>
        <%= link_to 'Verified', [:verify, @patient], :class => 'btn btn-success disabled' %>
    <% else %>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          Verify
        </button>
    <% end %>
<% end %>

<%= render 'layouts/confirm_verification_modal' %>
