<h2>Update Password</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!--<%= f.input :email, required: true %>-->

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                       <hr>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: true %>
    <%= f.input :password_confirmation, required: true %>

  </div>

  <div class="form-actions">
    <%= link_to "Back", :back, :class => 'btn btn-default' %>
    <%= f.button :submit, "Update", :class => 'btn btn-success' %>
  </div>
<% end %>

<!--
<h3>Cancel my account</h3>

 <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->


