<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :email, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= link_to "Back", :back, :class => 'btn btn-default' %>
    <%= f.button :submit, "Submit", :class => 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
