
  <%= simple_form_for(@npb_participant,
                      :url => patient_npb_participants_path,
                      :method => :post,
                      html: {class: 'form-horizontal'},
                      wrapper: :horizontal_input_group,
                      wrapper_mappings: {
                              check_boxes: :horizontal_radio_and_checkboxes,
                              radio_buttons: :horizontal_radio_and_checkboxes,
                              file: :horizontal_file_input,
                              boolean: :horizontal_boolean
                      }) do |f| %>
      <%= render 'form', :f => f, :action_name => 'new' %>

      <div class="form-actions pull-right">
        <%= f.button :submit, t('button.save_for_later'), :class => 'btn btn-warning js-only', onclick: 'setNpbParticipantNotFinish(true)' %>
        <%= f.button :submit, 'Submit', class: 'btn btn-success', onclick: 'setNpbParticipantNotFinish(false)' %>
      </div>
  <% end %>

  <div class="form-actions pull-right">
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>

</div>
