
  <h1><%= t '.title' %></h1>

  <h2><%= t 'pages.home.enrol_table_title' %></h2>
  <table class='table table-condensed table-bordered table-striped'>
    <thead>
    <tr>
      <th class="col-md-2"><%= t 'pages.home.table_patient_id' %></th>
      <th class="col-md-1"></th>
      <th class="col-md-2"><%= t 'pages.home.complete_follow_up_num' %></th>
      <th class="col-md-1"></th>
    </tr>
    </thead>
    <tbody>
    <% @user.patients.each do |patient| %>
        <% next unless (patient.enrollable && patient.verified) %>
        <tr>
          <td><%= patient.get_unique_id %></td>
          <td><%= link_to t('pages.home.view'), patient, :class => "btn btn-info btn-xs" %></td>
          <td><%= patient.enrollable.followup_count %></td>
          <% if patient.enrollable.followup_class %>
              <td><%= link_to t('pages.home.complete_follow_up'), polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => "btn btn-info btn-xs #{patient.verified ? '' : 'disabled'}" %></td>
          <% else %>
              <td><%= link_to 'In development', polymorphic_url([patient, patient.enrollable, patient.enrollable.followup_class]), :class => 'btn btn-danger btn-xs disabled' %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>

  </table>
