<div class="center jumbotron">
  <h1><%= t 'index.title' %></h1>

  <p>Niemann Pick Diseases (NPD) are rare, progressive conditions with many unanswered questions. More information is
    needed to better understand how they affect people and progress over time. The International Niemann Pick Disease
    Registry (INPDR) – a joint initiative between patient organisations and clinicians involved in the care of people
    with NPD – was established to better understand NPD so that potential treatments can be developed as quickly as
    possible.</p>

  <p>There are two components to the INPDR, together collecting clinical, genetic, diagnostic and outcome data: patient
    reported data (PRD), completed by the patient or their carer if appropriate; and clinician reported data (CRD),
    completed by healthcare professionals caring for NPD patients. </p>

  <p>You can confidentially record health information in the patient-reported section of the INPDR. Only anonymous
    health information will be made accessible to qualified researchers who are granted permission by the Steering
    committee. Personal health information will not be made available to employers, government organisations,
    insurance companies, or educational institutions. Please refer to
    the <%= link_to 'Privacy Policy', pages_privacy_statement_path %> for more
    information. </p>

  <p>We welcome all patients diagnosed with any type of NPD worldwide. Patients can participate in the registry
    regardless of whether or not they are involved in other clinical studies and trials. </p>

  <p><strong>If you are registering more than one person</strong>, you may use the same login and password to enter
    multiple patients. However, a separate survey must be completed for each person. This can be done after registering
    by clicking "Add a new patient" from your log in page.</p>

  <p>Please feel free to share any questions or concerns with us! You can contact the INPDR team at
    <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a></p>

  <p>Thank you for taking the time to complete this information and assist in our efforts to improve the lives of those
    living with Niemann-Pick Diseases. </p>

  <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-lg btn-primary" %>
  <%= link_to t('main_header.login'), new_user_session_path, :class => "btn btn-lg btn-primary" %>
</div>
