<div class='well'>
<h1>Privacy and Data protection</h1>

<h2>Where will my data be stored?</h2>
<p>All electronic data generated from the PRD will be held at the University of Melbourne, Australia under the direct
  responsibility of the Director of eResearch, Professor Richard Sinnott. Your data will be stored securely and no
  unauthorized users will be able to gain access to any information about you. Patient Identifiable Information that is
  required for patient sign up will be kept in the Registry Master File which is securely held at the Queen Elizabeth
  Hospital Birmingham, UK, under the responsibility of Dr Tarekegn Hiwot. Patient Identifiable Information will not be
  held on the PRD itself.</p>

<h2>Who will have access to my medical records?</h2>
<p>Only PRD staff members will have access to your medical records. PRD staff members may be required to obtain access
  to your genetic diagnosis report from your medical records in order to find information necessary for your involvement
  in the Registry. Access to your medical records will be on your behalf, and will only occur if you have given approval
  for PRD staff to do so. </p>

<h2>How will I be identified in the registry?</h2>
<p>Your patient identifiable information (name, address etc.) will be securely held in the Registry Master File so that
  PRD staff members can contact you if it is necessary to inform you about your participation in the PRD.</p>
<p>This information will be stored in a secure manner and your records will be assigned a unique ID. This unique ID will
  be used to identify your records. Authorised staff that uses the Registry will not be able to identify you personally
  from the information. Only the individual in charge of the Registry (Dr Tarekegn Hiwot) and persons explicitly
  appointed to the Registry team by Dr Hiwot will be able to link your unique ID to your personal information.</p>

<h2>Will my data be kept confidential?</h2>
<p>All electronic data generated from the PRD will be held at the University of Melbourne, Australia under the direct
  responsibility of the Director of eResearch, Professor Richard Sinnott. The Register Master File will be held securely
  at the Queen Elizabeth Hospital Birmingham, UK, under the responsibility of Dr Tarekegn Hiwot</p>
<p>The Registry team have direct experience in working to UK and international standards (including ISO 17799, and US 21
  CFR part 11), and have extensive experience of using healthcare data in the context of privacy and data protection
  legislature (including the Data Protection Act 1998 and EU Data Protection Directive 95/46/EC). </p>
<p>In order for third parties (such as researchers, clinical research companies, pharmaceutical companies etc) to access
  data held in the registry, they must meet the strict requirements laid out by the Registry management committee,
  including having ethics committee approval. Approved third parties will only have access to anonymous information
  identifiable by a code. Your data will <b>not be made available</b> to employers, government organisations, insurance
  companies or educational institutions.</p>

<h2>Can I withdraw from the registry and have my data destroyed?</h2>
<p>Your participation in this project is completely voluntary, and as such you are free to withdraw from the registry at
  any time. Should you wish to withdraw, you are not required to offer a reason why. All data generated will be securely
  destroyed and you will not be contacted in regards to the registry. If you wish to withdraw, you should contact
  inpdr@uhb.nhs.uk.</p>
    </div>