<div class='well'>

  <h2>Section 1. Terms and Conditions</h2>

  <ul>
    <li>The International Niemann-Pick Disease Patient Reported Dataset Registry is a web-based tool produced as a
      collaborative effort between partners within the International Niemann-Pick Disease Registry consortium. As used
      in this Terms and Conditions, the term "INPDR" shall mean "International Niemann-Pick Disease Registry
      Consortium" and the term "INPD-PRD" shall mean "International Niemann-Pick Disease Patient Reported Dataset
      Registry". By using the INPD-PRD, this constitutes your agreement to be bound to these Terms and Conditions. If
      you do not agree to the Terms and Conditions, you may not use the INPD-PRD.
    </li>
  </ul>

  <h2>Section 2. Use of Services</h2>
  <ul>
    <li>NOT FOR EMERGENCIES OR MEDICAL OR PROFESIONAL ADVICE</li>
    <ul>
      <li>The INPD-PRD does not provide any medical or healthcare products, services or advice, and is not for medical
        emergencies or urgent situations. IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CONTACT YOUR LOCAL EMERGENCY
        NUMBER OR CONTACT YOUR DOCTOR IMMEDIATELY. Additionally, information contained on this website is not a
        substitute for a doctor's medical judgment or advice. INPD-PRD recommends that you discuss your specific,
        individual health issues and concerns with your doctor or healthcare professional. The services offered and
        information contained on the INPD-PRD are designed to help us better understand the natural history of NPD and
        to foster future research.
      </li>
    </ul>
    <li>Cost</li>
    <ul>
      <li>There is no cost for enrolling into and using the INPD-PRD.</li>
    </ul>
    <li>Your Account</li>
    <ul>
      <li>Upon your consent being approved by the INPD-PRD study team, you will be provided with a unique patient
        identifier and password. You are solely responsible for maintaining the confidentiality of your unique patient
        identifier and password and for all activities that occur under your username and password. You must not
        provide your unique patient identifier and password to anybody else and should immediately notify the INPD-PRD
        study team of any unauthorized use of your patient identifier and password or other security concerns of which
        you may have.
      </li>
      <li>You agree that the INPD-PRD study team may access, preserve, and disclose your account information,
        including your username and password, if required to do so by law or in good faith belief that it is necessary
        to: (i) enforce this Terms and Conditions, (ii) respond to your requests for customer service, (iii) comply
        with laws or legal process, (iv) respond to claims that information you have provided violates the rights of
        others, or (v) protect the rights, property or personal safety of INPD-PRD and its users or the public. You
        confirm that you are at least eighteen years of age, and that you possess the legal right and ability to enter
        into this Terms and Conditions and abide by the obligations hereunder.
      </li>
    </ul>
    <li>Intellectual Property</li>
    <ul>
      <li>With the exception of any personal information submitted by a potential research volunteer, INPDR retains
        all right, title and interest in and to the INPD-PRD website, the INPD-PRD services and any content, products,
        documentation, or other materials on the INPD-PRD website. INPD-PRD website must be firstly agreed with the
        INPDR. You agree not to reproduce, sell, publish, or circulate the information owned by INPD-PRD, or received
        from any other party or individual through the INPD-PRD website or registry to anyone.
      </li>
    </ul>
    <li>Third Party Sites</li>
    <ul>
      <li>Although INPD-PRD may include links providing direct access to third-party Internet sites, NPD-PRD takes no
        responsibility for the content or information contained on those other sites.
      </li>
    </ul>
    <li>Operation and Record Retention</li>
    <ul>
      <li>INPD-PRD may withdraw, suspend or discontinue any functionality or feature of INPD-PRD features or services.
        INPD-PRD is not responsible for transmission errors or corruption or compromise of data. INPD-PRD reserves the
        right to maintain, delete or destroy materials uploaded to INPD-PRD.
      </li>
    </ul>
    <li>Limitations on Use</li>
    <ul>
      <li>You agree not to access or use the INPD-PRD website in an unlawful way. You agree not to transmit: (a)
        information under a false name; or (b) any information which (i) is fraudulent, false or contrary to the
        ownership or intellectual property rights of any other person, or (ii) contains any virus, worm, Trojan horse
        or other code which is contaminating or destructive to the files or programs of INPD-PRD or any of its users.
        INPD-PRD reserves the right to delete any information provided by you that it deems in its sole discretion
        fraudulent, false, contrary or in violation of the ownership rights of any other person.
      </li>
    </ul>
  </ul>
  <h2>Section 3. Disclaimers</h2>
  <ul>
    <li>General Disclaimers</li>
    <ul>
      <li>You acknowledge that your use of the INPD-PRD website is at your sole risk, and that you assume full
        responsibility for all risk associated therewith
      </li>
    </ul>
    <li>Limitation of Liability</li>
    <ul>
      <li>In no event shall INPD-PRD or INPDR be liable for any damages or other liability to you or any other users of
        the INPD-PRD website.
      </li>
    </ul>
  </ul>
  <h2>Section 4. General Provisions</h2>
  <ul>
    <li>Indemnity</li>
    <ul>
      <li>You agree to indemnify, defend and hold harmless INPD-PRD, INPDR and its affiliates from and against all
        losses, liability, expenses, damages and costs, arising out of or related to any breach of this terms and
        conditions, any negligent or wrongful action or omission by you related to your use of or providing of services
        through the INPD-PRD website, or any negligent or wrongful use of the INPD-PRD website by you or any other
        person accessing your account.
      </li>
    </ul>
    <li>Governing Law</li>
    <ul>
      <li>This Terms and Conditions shall be governed by and construed in accordance with the laws of England without
        giving effect to any choice of law rules or principles. You agree that Birmingham, England shall be the sole and
        exclusive venue for any legal action or proceeding between INPD-PRD or INPDR and you for any purpose concerning
        this Terms and Conditions. Any cause of action or claim you may have with respect to the use of the INPD-PRD
        website must be commenced within one (1) year after it arises, except to the extent such limitation is not
        enforceable.
      </li>
    </ul>
    <li>Changes to Terms and Conditions</li>
    <ul>
      <li>INPD-PRD reserves the right to update or change these Terms and Conditions at any time and for any reason by
        posting the modified Terms and Conditions. You should periodically visit this page of the website. All Terms and
        Conditions are automatically effective as soon as they are posted.
      </li>
    </ul>
  </ul>

  <p>Thank you for reading the INPD-PRD Terms and Conditions</p>
</div>