<div class="center jumbotron">
  <blockquote>
    <h1><%= t '.title' %></h1>

    <p>
      Your enrolment details are now being processed. We will be in touch via email as soon as possible to confirm your
      registration. You will then be asked to log into the registry and complete the patient reported questionnaires.
    </p>

    <p>
      In the meantime, if you have any questions at all you can contact us at
      <a href="mailto:inpdr@uhb.nhs.uk" target="_top">inpdr@uhb.nhs.uk</a>. And
      again, THANK YOU for your involvement.
    </p>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <footer>From the INPDR team</footer>
  </blockquote>
</div>