<div class="center jumbotron">
  <h1><%= t '.title' %></h1>

  <div class="list-group">
    <a href="<%=  npc_participants_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npc_title') %></h4>

    </a>
    <a href="<%=  npc_applicant_participants_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npc_behalf_title') %></h4>

    </a>
    <a href="<%=  npb_participants_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npb_title') %></h4>

    </a>
    <a href="<%=  npb_applicant_participants_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npb_behalf_title') %></h4>

    </a>
    <a href="<%=  npa_applicant_participants_path %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= t('.npa_title') %></h4>

    </a>
  </div>

</div>
