<div class='registry_form'>
<h1><%= t "#{controller_name}.#{action_name}.title" %></h1>

<%= f.error_notification %>

<%= render 'layouts/npb_enrol_information', :f => f %>


  <%= render 'layouts/gene_diagnosis', :f => f, :participant => @npb_applicant_participant %>

  <%= f.input :not_finish, :as => 'hidden', :input_html => { :value => false } %>
</div>
