<%= simple_form_for([@followable.patient, @followable, @npb_followup], html: {class: 'form-horizontal'},
                    wrapper: :horizontal_input_group,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    }) do |f| %>
    <%= f.error_notification %>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class="panel-title"><%= t('npb_followups.defaults.titles.symptoms') %></h3>
      </div>
      <div class='panel-body'>
        <p>
          <small> <%= t('npb_followups.defaults.explainations.symptoms_html') %></small>
        </p>        <%= f.input :symptom_bone, label: t("npb_followups.#{params[:followable]}.labels.symptom_bone"), collection: @npb_followup.symptom_bone_collection %>        <%= f.input :symptom_abdominal, label: t("npb_followups.#{params[:followable]}.labels.symptom_abdominal"), collection: @npb_followup.symptom_abdominal_collection %>        <%= f.input :symptom_pain, label: t("npb_followups.#{params[:followable]}.labels.symptom_pain"), collection: @npb_followup.symptom_pain_collection %>        <%= f.input :symptom_breathlessness_rate, label: t("npb_followups.#{params[:followable]}.labels.symptom_breathlessness_rate"), collection: @npb_followup.symptom_breathlessness_rate_collection %>
        <%= f.input :symptom_breathlessness_impact, label: t("npb_followups.#{params[:followable]}.labels.symptom_breathlessness_impact"), collection: @npb_followup.symptom_breathlessness_impact_collection %>
        <%= f.input :symptom_bleeding_rate, label: t("npb_followups.#{params[:followable]}.labels.symptom_bleeding_rate"), collection: @npb_followup.symptom_bleeding_rate_collection %>
        <%= f.input :symptom_bleeding_impact, label: t("npb_followups.#{params[:followable]}.labels.symptom_bleeding_impact"), collection: @npb_followup.symptom_bleeding_impact_collection %>
        <%= f.input :symptom_fatigue_rate, label: t("npb_followups.#{params[:followable]}.labels.symptom_fatigue_rate"), collection: @npb_followup.symptom_fatigue_rate_collection %>
        <%= f.input :symptom_fatigue_impact, label: t("npb_followups.#{params[:followable]}.labels.symptom_fatigue_impact"), collection: @npb_followup.symptom_fatigue_impact_collection %>
        <%= f.input :symptom_enlarge_organ, label: t("npb_followups.#{params[:followable]}.labels.symptom_enlarge_organ"), collection: @npb_followup.symptom_enlarge_organ_collection %>
        <%= f.input :symptom_enlarge_organ_impact, label: t("npb_followups.#{params[:followable]}.labels.symptom_enlarge_organ_impact"), collection: @npb_followup.symptom_enlarge_organ_impact_collection %>
        <%= f.input :symptom_slow_growth, label: t("npb_followups.#{params[:followable]}.labels.symptom_slow_growth"), collection: @npb_followup.symptom_slow_growth_collection %>
        <%= f.input :symptom_slow_growth_impact, label: t("npb_followups.#{params[:followable]}.labels.symptom_slow_growth_impact"), collection: @npb_followup.symptom_slow_growth_impact_collection %>
        <%= f.input :symptom_infection, label: t("npb_followups.#{params[:followable]}.labels.symptom_infection"), collection: @npb_followup.symptom_infection_collection %>
        <%= f.input :symptom_fracture, label: t("npb_followups.#{params[:followable]}.labels.symptom_fracture"), collection: @npb_followup.symptom_fracture_collection %>
        <%= f.input :symptom_cognition, label: t("npb_followups.#{params[:followable]}.labels.symptom_cognition"), collection: @npb_followup.symptom_cognition_collection %>
      </div>
    </div>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class="panel-title"><%= t('npb_followups.defaults.titles.family_impact') %></h3>
      </div>
      <div class='panel-body'>
        <p>
          <small> <%= t('npb_followups.defaults.explainations.family_impact_html') %></small>
        </p>
        <%= f.input :impact_family_disappointed, label: t("npb_followups.#{params[:followable]}.labels.impact_family_disappointed"), collection: @npb_followup.impact_family_collection %>
        <%= %>
        <%= f.input :impact_family_give_up, label: t("npb_followups.#{params[:followable]}.labels.impact_family_give_up"), collection: @npb_followup.impact_family_collection %>
        <%= %>
        <%= f.input :impact_family_worry_future, label: t("npb_followups.#{params[:followable]}.labels.impact_family_worry_future"), collection: @npb_followup.impact_family_collection %>
        <%= %>
        <%= f.input :impact_family_closer, label: t("npb_followups.#{params[:followable]}.labels.impact_family_closer"), collection: @npb_followup.impact_family_collection %>
      </div>
    </div>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h3 class="panel-title"><%= t('npb_followups.defaults.titles.wider_impact') %></h3>
      </div>
      <div class='panel-body'>
        <p>
          <small> <%= t('npb_followups.defaults.explainations.wider_impact_html') %></small>
        </p>
        <%= f.input :impact_wider_self_miss_career, label: t("npb_followups.#{params[:followable]}.labels.impact_wider_self_miss_career"), collection: @npb_followup.impact_wider_self_miss_career_collection %>
        <%= %>
        <%= f.input :impact_wider_carer_miss_career, label: t("npb_followups.#{params[:followable]}.labels.impact_wider_carer_miss_career"), collection: @npb_followup.impact_wider_carer_miss_career_collection %>
        <%= %>
        <%= f.input :impact_wider_emergency, label: t("npb_followups.#{params[:followable]}.labels.impact_wider_emergency"), collection: @npb_followup.impact_wider_emergency_collection %>
        <%= %>
        <%= f.input :impact_wider_appointment, label: t("npb_followups.#{params[:followable]}.labels.impact_wider_appointment"), collection: @npb_followup.impact_wider_appointment_collection %>
      </div>
    </div>
    <div class="form-actions pull-right">
      <%= f.button :submit, 'Submit', class: 'btn btn-success' %>
    </div>
<% end %>