<h1><%= t('npb_followups.new.title') %></h1>

<%= render 'form' %>

<div class="form-actions pull-right">
  <%= link_to 'Back', polymorphic_url([@npb_followup.followable.patient, @npb_followup.followable, @npb_followup]), :class => 'btn btn-danger' %>
</div>
