<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class="panel-title"><%= t('npb_followups.defaults.titles.symptoms') %></h3>
  </div>
  <div class='panel-body'>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_bone") %>
      </div>

      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_bone_collection[@npb_followup.symptom_bone][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_abdominal") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_abdominal_collection[@npb_followup.symptom_abdominal][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_pain") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_pain_collection[@npb_followup.symptom_pain][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_breathlessness_rate") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_breathlessness_rate_collection[@npb_followup.symptom_breathlessness_rate][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_breathlessness_impact") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_breathlessness_impact_collection[@npb_followup.symptom_breathlessness_impact][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_bleeding_rate") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_bleeding_rate_collection[@npb_followup.symptom_bleeding_rate][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_bleeding_impact") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_bleeding_impact_collection[@npb_followup.symptom_bleeding_impact][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_fatigue_rate") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_fatigue_rate_collection[@npb_followup.symptom_fatigue_rate][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_fatigue_impact") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_fatigue_impact_collection[@npb_followup.symptom_fatigue_impact][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_enlarge_organ") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_enlarge_organ_collection[@npb_followup.symptom_enlarge_organ][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_enlarge_organ_impact") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_enlarge_organ_impact_collection[@npb_followup.symptom_enlarge_organ_impact][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_slow_growth") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_slow_growth_collection[@npb_followup.symptom_slow_growth][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_slow_growth_impact") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_slow_growth_impact_collection[@npb_followup.symptom_slow_growth_impact][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_infection") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_infection_collection[@npb_followup.symptom_infection][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_slow_growth") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_slow_growth_collection[@npb_followup.symptom_slow_growth][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_fracture") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_fracture_collection[@npb_followup.symptom_fracture][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.symptom_cognition") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.symptom_cognition_collection[@npb_followup.symptom_cognition][0] %>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class="panel-title"><%= t('npb_followups.defaults.titles.family_impact') %></h3>
  </div>
  <div class='panel-body'>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_family_disappointed") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_family_collection[@npb_followup.impact_family_disappointed][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_family_give_up") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_family_collection[@npb_followup.impact_family_give_up][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_family_worry_future") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_family_collection[@npb_followup.impact_family_worry_future][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_family_closer") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_family_collection[@npb_followup.impact_family_closer][0] %>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class="panel-title"><%= t('npb_followups.defaults.titles.wider_impact') %></h3>
  </div>
  <div class='panel-body'>
    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_wider_self_miss_career") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_wider_self_miss_career_collection[@npb_followup.impact_wider_self_miss_career][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_wider_carer_miss_career") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_wider_carer_miss_career_collection[@npb_followup.impact_wider_carer_miss_career][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_wider_emergency") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_wider_emergency_collection[@npb_followup.impact_wider_emergency][0] %>
      </div>
    </div>

    <div class="participant-show-form-group">
      <div class="form-applicant_show-label">
        <%= t("npb_followups.#{params[:followable]}.labels.impact_wider_appointment") %>
      </div>
      <div class="form-applicant_show-content">
        <%= @npb_followup.impact_wider_appointment_collection[@npb_followup.impact_wider_appointment][0] %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Done', polymorphic_url([@npb_followup.followable.patient, @npb_followup.followable, NpbFollowup]), :class => 'btn btn-primary' %>

<% if current_user.study_team? %>
    <%= link_to 'Edit', edit_polymorphic_url([@npb_followup.followable.patient, @npb_followup.followable, @npb_followup]), :class => 'btn btn-primary' %>
<% end %>






