<h1><%= t('.title') %></h1>

<h3>Verified</h3>
<table class='table table-condensed table-bordered table-striped'>
  <thead>
  <tr>
    <th><%= t 'form.participant_list.header.created_date' %></th>
    <th><%= t 'form.participant_list.header.unique_id' %></th>
    <th><%= t 'pages.home.complete_follow_up_num' %></th>
    <th><%= t 'form.participant_list.header.verified' %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @participants_verified.each do |participant| %>
      <tr>
        <td><%= l participant.created_at, :format => t(:default, :scope => [:date, :formats]) %></td>
        <td><%= participant.unique_id %></td>
        <td><%= participant.followup_count %></td>
        <td><%= participant.verified ? tag(:span, :class => 'glyphicon glyphicon glyphicon-ok') : tag(:span, :class => 'glyphicon glyphicon glyphicon-remove') %></td>
        <td><%= link_to 'View', participant, :class => 'btn btn-info btn-xs' %></td>
        <td><%= link_to t('pages.home.complete_follow_up'), polymorphic_url([participant, NpcFollowup]), :class => 'btn btn-info btn-xs' %></td>
      </tr>
  <% end %>
  </tbody>

</table>



<% if current_user.study_team %>
    <h3>Not verified</h3>
    <table class='table table-condensed table-bordered table-striped'>
      <thead>
      <tr>
        <th><%= t 'form.participant_list.header.created_date' %></th>
        <th><%= t 'form.participant_list.header.unique_id' %></th>
        <th><%= t 'form.participant_list.header.verified' %></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @participants_unverified.each do |participant| %>
          <tr>
            <td><%= l participant.created_at, :format => t(:default, :scope => [:date, :formats]) %></td>
            <td><%= participant.unique_id %></td>
            <td><%= participant.verified ? tag(:span, :class => 'glyphicon glyphicon glyphicon-ok') : tag(:span, :class => 'glyphicon glyphicon glyphicon-remove') %></td>
            <td><%= link_to 'View', participant, :class => 'btn btn-info btn-xs' %></td>
            <td><%= link_to 'Delete', participant, :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-danger btn-xs' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
