<div id='section-to-print'>
  <h1><%= t '.title', :id => @npc_participant.unique_id %></h1>

  <%= render 'layouts/npc_enrol_info_show', :participant => @npc_participant %>

  <%= render 'layouts/gene_diagnosis_show', :participant => @npc_participant %>

  <%= render 'layouts/consent_fields_show', :participant => @npc_participant %>

  <%= link_to 'Back', :back, :class => 'btn btn-default' %>

  <% if current_user.study_team %>
      <% if @npc_participant.verified %>
          <%= link_to 'Verified', [:verify, @npc_participant], :class => 'btn btn-success disabled' %>
      <% else %>
          <%= link_to 'Verify', [:verify, @npc_participant], :class => 'btn btn-success' %>
      <% end %>
  <% end %>

</div>



