/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
*/

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//$bodyBackground:        #CADFEF !default;
$bodyBackground: #FFFFFF !default;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap-datepicker3";

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  padding-top: 60px;
  background-color: $bodyBackground;

}

input.js-only {
  display:none;
}

footer {
  p {
    font-size: 11px;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

thead {
  background-color: #77BDF9;
}

div.datepicker-days {
  table {
    thead {
      background-color: #FFFFFF;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.brand {
  font-weight: bold;
}

.bordered {
  outline: 1px solid dimgrey;
}

.form-outline {
  outline: 1px solid dimgrey;

}

.form-row {
  border-bottom: 1px solid dimgrey;

  #padding-top: 10px;

}

div.participant-show-form-group {
  @extend .col-md-12;
  @extend .col-lg-12;
  @extend .col-sm-12;
  margin-bottom: 15px;
}

.form-title {
  padding-left: 15px;
}

.form-section-title {
  @extend .form-title;
  font-weight: bold;;
}

.form-row-title {
  @extend .form-title;
  @extend .col-md-3;
}

.form-label {
  @extend .col-md-3;
  @extend .col-sm-3;
  @extend .control-label;
  #padding-left: 15px;
}

.form-field {
  @extend .col-md-9;
}

.form-content {
  @extend .col-md-8;
  padding-top: 10px;
}

div.form-actions {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nested-fields {
  padding-bottom: 10px;
}

div.form-participant_list-date {
  @extend .col-md-2;

}

div.form-participant_list-patient-firstname {
  @extend .col-md-2;
}

div.form-participant_list-patient-surname {
  @extend .col-md-2;
}

div.form-participant_list-applicant-firstname {
  @extend .col-md-2;
}

div.form-participant_list-applicant-followups {
  @extend .col-md-3;
}

div.form-participant_list-applicant-unique_id {
  @extend .col-md-3;
}

div.form-participant_list-applicant-surname {
  @extend .col-md-2;
}

div.form-participant_list-show {
  @extend .col-md-1;
}

div.form-participant_list-edit {
  @extend .col-md-1;
}

div.form-participant_list-verified {
  @extend .col-md-1;

  text-align: center;
}

div.form-participant_list-row {
  margin-bottom: 5px;
}

div.form-followup_list-row {
  margin-bottom: 5px;
}

div.form-followup_list-date {
  @extend .col-md-3;
}

div.form-followup_list-show {
  @extend .col-md-3;
}

div.form-followup_list-edit {
  @extend .col-md-3;
}

div.form-followup_list-destroy {
  @extend .col-md-3;
}

div.form-header {
  font-weight: bold;
}

div.form-applicant_show-label {
  @extend label;
  @extend .col-sm-4;
  @extend .control-label;
  margin-bottom: 10px;
}

div.form-applicant_show-content {
  @extend .col-sm-8;
  margin-bottom: 0;
}

div.form-participant_input {
  @extend .col-sm-9;
  width: 100%;

}

input[type=checkbox] {
  vertical-align: -7px;
  margin: 4px;
}

.inline_checkbox_control {
  @extend .col-sm-offset-3;
  padding-left: 10px;
  margin-bottom: 15px;
}

div.form_well {
  @extend .well;
  padding-bottom: 54px;
}

//Big Checkbox
label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #33334C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked + label {
  background-color: #fafafa;
  border: 1px solid #33334C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #000080;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #000080;
}

.big-checkbox + label {
  padding: 28px;
}

.big-checkbox:checked + label:after {
  font-size: 40px;
  left: 9px;
}

//Div for consent box
.consent-box {
  border-radius: 20px;
  border: 3px solid #FF6347;
  margin-bottom: 20px;
}

.consent-box-padded {
  @extend .consent-box;
  padding: 20px;
}

.help-block {
  color: #a94442;
}

//Make the checkbox bigger
input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.1);

  /* Webkit browsers*/
  -webkit-transform: scale(1.1);
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

span.verified {
  color: lawngreen;
  font-weight: bold;
}

span.unverified {
  color: red;
  font-weight: bold;
}

span.completed {
  color: lawngreen;
  font-weight: bold;
}

span.incompleted {
  color: red;
  font-weight: bold;
}


