<h2><%= t('pages.contacts.title') %></h2>
<div class='well'>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class="hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        <%= f.button :submit, 'Send message', :class => "btn btn-primary" %>
      </div>
  <% end %>
</div>